# Ignorer le dossier de build
build/

# Ignorer les fichiers objets
*.o

# Ignorer les images de l'OS
*.bin
# *.iso # Handled by release/
# release/ # Temporarily removed to allow ISO checking
iso_root/
